<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Auto CarPlay Clicker"
        android:extractNativeLibs="false">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="Auto-click Apple CarPlay dialog in android.car.usb.handler"/>
        <meta-data android:name="xposedminversion" android:value="82"/>
    </application>
</manifest>
